<a href="https://colab.research.google.com/github/mutala04/CDAV-Intro-to-Python/blob/main/Mini_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Foods = ['Pizza', 'Cake', 'Bananas', 'Kales', 'Pizza', 'Chicken', 'Beef']

In [ ]:
Foods[0]

'Pizza'

In [ ]:
Foods[6]

'Beef'

In [ ]:
Foods[2]= "Apple"
Foods

['Pizza', 'Cake', 'Apple', 'Kales', 'Pizza', 'Chicken', 'Beef']

In [ ]:
Foods.append("Sausage")
Foods

['Pizza', 'Cake', 'Apple', 'Kales', 'Pizza', 'Chicken', 'Beef', 'Sausage']

In [ ]:
Foods.remove("Cake")
Foods

['Pizza', 'Apple', 'Kales', 'Pizza', 'Chicken', 'Beef', 'Sausage']

In [ ]:
for Food in Foods:
  print(Food)

Pizza
Apple
Kales
Pizza
Chicken
Beef
Sausage

In [ ]:
print("Foods starting with 'a':")
for Food in Foods:
  if Food.lower().startswith('a'):
    print(Food)

Foods starting with 'a':
Apple

In [ ]:
Pizza_count = Foods.count("Pizza")
print(f"Pizza appears in the list {Pizza_count} times.")

Pizza appears in the list 2 times.

In [ ]:
Foods[1:4:1]

['Apple', 'Kales', 'Pizza']

In [ ]:
Foods[::-1]

['Sausage', 'Beef', 'Chicken', 'Pizza', 'Kales', 'Apple', 'Pizza']

In [ ]:
numbers= [5,2,9,1,7]

In [ ]:
sum(numbers)

24

In [ ]:
max(numbers)

9

In [ ]:
min(numbers)

1

In [ ]:
numbers.sort()
print("ascending:", numbers)
numbers.reverse()
print("descending:", numbers)

ascending: [1, 2, 5, 7, 9]
descending: [9, 7, 5, 2, 1]

In [ ]:
numbers.insert(2, 10)
numbers

[9, 7, 10, 5, 2, 1]

In [ ]:
students_and_scores = (
    ['Alice', 85],
    ['Bob', 78],
    ['Charlie', 92]
)

for student in students_and_scores:
  name = student[0]
  score = student[1]
  print(f"{name}'s score is {score}")

Alice's score is 85
Bob's score is 78
Charlie's score is 92

In [ ]:
max(students_and_scores)

['Charlie', 92]

In [13]:
def get_five_numbers():

  numbers_list = []
  for i in range(5):
    while True:
      try:
        user_input = input(f"Please enter number {i+1} of 5: ")
        numbers = int(user_input)
        numbers_list.append(numbers)
        break
      except ValueError:
        print("Invalid input. Please enter a valid number.")
  return numbers_list

my_numbers = get_five_numbers()

print("\nHere are the numbers you entered")
print(my_numbers)

Please enter number 1 of 5: 10
Please enter number 2 of 5: 15
Please enter number 3 of 5: 20
Please enter number 4 of 5: 25
Please enter number 5 of 5: 30

Here are the numbers you entered
[10, 15, 20, 25, 30]

In [16]:
def get_even_numbers(numbers_list):
  even_numbers = [number for number in numbers_list if number % 2 == 0]
  return even_numbers

numbers_list = my_numbers

evens = get_even_numbers(numbers_list)

print("Even numbers:", evens)

Even numbers: [10, 20, 30]

In [17]:
def get_odd_numbers(numbers_list):
  odd_numbers = [number for number in numbers_list if number % 2 == 1]
  return odd_numbers

numbers_list = my_numbers

odds = get_odd_numbers(numbers_list)

print("Odd numbers:", odds)

Odd numbers: [15, 25]

In [19]:
merged_list = evens + odds
print("Merged list:", merged_list)

Merged list: [10, 20, 30, 15, 25, 15, 25]

In [20]:
student_names = []

while True:
  name = input("Enter a student name(or type 'stop' to finish): ")
  if name.lower() == "stop":
    break
  student_names.append(name)

print("\nStudent names you entered: ")
print(student_names)

Enter a student name(or type 'stop' to finish): Erick
Enter a student name(or type 'stop' to finish): Eliud
Enter a student name(or type 'stop' to finish): Jules
Enter a student name(or type 'stop' to finish): Lynnette
Enter a student name(or type 'stop' to finish): Rose
Enter a student name(or type 'stop' to finish): John
Enter a student name(or type 'stop' to finish): stop

Student names you entered:
['Erick', 'Eliud', 'Jules', 'Lynnette', 'Rose', 'John']

In [21]:
print("Names with 5 or more characters:")
for name in student_names:
  if len(name) >= 5:
    print(name)

Names with 5 or more characters:
Erick
Eliud
Jules
Lynnette