<a href="https://colab.research.google.com/github/mutala04/CDAV-Intro-to-Python/blob/main/Mini_dicts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
student = {
    "name": "Alice",
    "age": 14,
    "grade": "B"
}

print(student)

{'name': 'Alice', 'age': 14, 'grade': 'B'}

In [2]:
print(student["name"])

Alice

In [3]:
student["grade"] = "A"
print(student)

{'name': 'Alice', 'age': 14, 'grade': 'A'}

In [4]:
student["school"] = "Greenwood High"
print(student)

{'name': 'Alice', 'age': 14, 'grade': 'A', 'school': 'Greenwood High'}

In [5]:
person = {"name": "Bob", "age": 30, "city": "Nairobi"}

for key,value in person.items():
  print(key,":", value)

name : Bob
age : 30
city : Nairobi

In [7]:
for key in person.keys():
  print(key)

name
age
city

In [8]:
for value in person.values():
  print(value)

Bob
30
Nairobi

In [10]:
person = {"name": "Bob", "age": 30, "city": "Nairobi"}

if "email" in person:
  email = person["email"]
else:
  email = "Not provided"

print(email)

Not provided

In [11]:
person = {"name": "Bob", "age": 30, "city": "Nairobi"}

if "city" in person:
  print("Key 'city' exists in the dictionary.")
else:
  print("Key 'city' does not exist.")

Key 'city' exists in the dictionary.

In [12]:
person.update({"city": "Mombasa", "email": "bob@example.com"})
print(person)

{'name': 'Bob', 'age': 30, 'city': 'Mombasa', 'email': 'bob@example.com'}

In [13]:
students = [
    {"name": "Alice", "age": 14, "grade": "B"},
    {"name": "Bob", "age": 15, "grade": "A"},
    {"name": "Charlie", "age": 14, "grade": "C"}
]
print(students)

[{'name': 'Alice', 'age': 14, 'grade': 'B'}, {'name': 'Bob', 'age': 15, 'grade': 'A'}, {'name': 'Charlie', 'age': 14, 'grade': 'C'}]

In [15]:
for student in students:
  print(student["name"],":", student["grade"])

Alice : B
Bob : A
Charlie : C

In [18]:
total = 0

for student in students:
  total += int(student["grade"])

average = total / len(students)

print("Average grade:", average)

ValueError: invalid literal for int() with base 10: 'B'

In [19]:
students = [
    {"name": "Alice", "age": 14, "grade": "B"},
    {"name": "Bob", "age": 15, "grade": "A"},
    {"name": "Charlie", "age": 14, "grade": "C"}
]

# Map letter grades to numeric values
grade_map = {"A": 90, "B": 80, "C": 70}

total = 0
for student in students:
  grade_letter = student["grade"]
  grade_number = grade_map[grade_letter]
  total += grade_number

average = total/ len(students)

print("Average grade:", average)

Average grade: 80.0

In [20]:
words = ["apple", "banana", "apple", "cherry", "banana", "apple"]

word_count = {}

for word in words:
  if word in word_count:
    word_count[word] += 1
  else:
    word_count[word] = 1

print(word_count)

{'apple': 3, 'banana': 2, 'cherry': 1}

In [22]:
phonebook = {}

while True:
  name = input("Enter name (or 'done' to stop adding): ")
  if name.lower() == "done":
    break
  number = input(f"Enter phone number for {name}: ")
  phonebook[name] = number

# Step 2: Look up contacts
while True:
  search = input("Enter a name to look up (or 'exit' to quit): ")
  if search.lower() == "exit":
    break
  if search in phonebook:
    print(f"{search}'s number is {phonebook[search]}")
  else:
    print("Name not found in phonebook.")

Enter name (or 'done' to stop adding): John
Enter phone number for John: 0125698471
Enter name (or 'done' to stop adding): Lane
Enter phone number for Lane: 2569847134
Enter name (or 'done' to stop adding): done
Enter a name to look up (or 'exit' to quit): Lane
Lane's number is 2569847134
Enter a name to look up (or 'exit' to quit): exit