<a href="https://colab.research.google.com/github/mutala04/CDAV-Intro-to-Python/blob/main/Mini_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(2, 21, 2):
  print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
for i in range(1, 6):
  print(i**2)

1
4
9
16
25

In [ ]:
for char in "Python":
  print(char)

P
y
t
h
o
n

In [ ]:
names = ["Alice", "Bob", "Charlie"]

for name in names:
  print(name)

Alice
Bob
Charlie

In [ ]:
for i in range(5, 0, -1):
  print(i)

5
4
3
2
1

In [ ]:
password = ""

while password != "secret":
  password = input("Enter password: ")
print("Access granted!")

Enter password: head
Enter password: tail
Enter password: secret
Access granted!

In [ ]:
# initialize sum
total = 0

while True:
  number = int(input("Enter a number (0 to stop): "))
  if number == 0:
    break
  total = total + number

print("The sum is: ", total)

Enter a number (0 to stop): 5
Enter a number (0 to stop): 56
Enter a number (0 to stop): 0
The sum is:  61

In [ ]:
for number in range(1,21):
  if number % 3 == 0:
    print(number)

3
6
9
12
15
18

In [ ]:
numbers = [4,7,10,13,16,19]

for num in numbers:
  if num % 2 !=0:
    print(num)

7
13
19

In [ ]:
fruits = ["apple","banana","apple","cherry","apple"]

count = fruits.count("apple")
print(count)

3

In [ ]:
text = "Jonathan"
print(text[::-1])

nahtanoJ

In [ ]:
rows = 5

for i in range(1, rows + 1):
  print("*" * i)

*
**
***
****
*****

In [ ]:
num = int(input("Enter a number: "))
factorial = 1

for i in range(1, num + 1):
  factorial = factorial * i

print("Factorial of", num, "is", factorial)

Enter a number: 5
Factorial of 5 is 120

In [ ]:
for i in range(1, 101):
  if i % 3 == 0 and i % 5 == 0:
    print("Jackpot")
  elif i % 3 == 0:
    print("Hit")
  elif i % 5 == 0:
    print("Miss")
  else:
    print(i)

1
2
Hit
4
Miss
Hit
7
8
Hit
Miss
11
Hit
13
14
Jackpot
16
17
Hit
19
Miss
Hit
22
23
Hit
Miss
26
Hit
28
29
Jackpot
31
32
Hit
34
Miss
Hit
37
38
Hit
Miss
41
Hit
43
44
Jackpot
46
47
Hit
49
Miss
Hit
52
53
Hit
Miss
56
Hit
58
59
Jackpot
61
62
Hit
64
Miss
Hit
67
68
Hit
Miss
71
Hit
73
74
Jackpot
76
77
Hit
79
Miss
Hit
82
83
Hit
Miss
86
Hit
88
89
Jackpot
91
92
Hit
94
Miss
Hit
97
98
Hit
Miss

In [ ]:
students = []

count = int(input("How many students are in the class? "))

for i in range(count):
  name = input(f"Enter the name of student {i+1}: ")
  students.append(name)

print("List of students:", students)

How many students are in the class? 5
Enter the name of student 1: Agnes
Enter the name of student 2: Melody
Enter the name of student 3: Patrick
Enter the name of student 4: Erick
Enter the name of student 5: Nyambura
List of students: ['Agnes', 'Melody', 'Patrick', 'Erick', 'Nyambura']